.react-html5-camera-photo {
  width: 100%;
  aspect-ratio: 1;
  margin: auto;
  overflow: hidden;
}

.react-html5-camera-photo > video {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.react-html5-camera-photo > video,
.react-html5-camera-photo > img {
  height: 100% !important;
  object-fit: cover;
}

.demo-image-preview {
  width: 100%;
  aspect-ratio: 1;
}
